<%- include('partials/header') %>

<div class="container mt-5">
  <h2>Contact Me</h2>
  <p>If you'd like to collaborate or ask about my work, feel free to reach out!</p>
  <ul>
    <li>Email: justyn.umrah@ontariotechu.net</li>
    <li>GitHub: <a href="https://github.com/justyn">github.com/justyn</a></li>
    <li>LinkedIn: <a href="https://linkedin.com/in/justyn">linkedin.com/in/justyn</a></li>
  </ul>
</div>

<%- include('partials/footer') %>