<!-- Include the shared header partial -->
<%- include('partials/header') %>

<!-- Page-specific content -->
<div class="bg-primary text-whit text-center py-5">
  <h1 class="display-3">Welcome to My Portfolio</h1>
</div>

<!--Welcome Page-->
<div class="container mt-5 text-center">
  <h2 class="mb-3">Welcome to my Portfolio</h2>
  <p>I'm Justyn, a web developer focused on ExpressJS, EJS, and Bootstrap. I love solving real-world problems through clean code and practical design.</p>
</div>

<!-- Include the shared footer partial -->
<%- include('partials/footer') %>